{% extends 'base.html' %}

{% block title %}Cadastros{% endblock %}

{% block content %}
<div class="dados">
    <div class="text">Cadastros</div>
    <div style="text-align: right;">
        <button type="button" class="button" data-toggle="modal" data-target="#antenas-modal">Antenas</button>
        <button type="button" class="button" data-toggle="modal" data-target="#satelite-modal">Cadastrar novo Satélite</button>
    </div>
    
    {% if msg %}
    <h4>Mensagem: {{ msg }}</h4>
    {% endif %}
    
    <div class="table">
        <div class="row header">
            <div class="cell fixed">Nome</div>
            <div class="cell fixed">Sensor</div>
            <div class="cell fixed">Tipo</div>
        </div>
        
        {% for satelite in satelites %}
   
        <div class="row">
            <div class="cell fixed">{{ satelite.nome }}</div>
            <div class="cell fixed">{{ satelite.sensor }}</div>
            <div class="cell fixed">{{ satelite.is_compressed }}</div>
            <div class="cell fixed">{{ satelite.is_epsl0 }}</div>
            <div class="cell fixed">
                <button type="button" class="button button-small" data-toggle="modal" data-target="#satelite-modal" data-id="{{ satelite.id }}">Editar</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="antenas-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="modal-title" id="antenasModalLabel">Cadastro</span>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('dartcom_settings')}}" method="post" autocomplete="off"> 
            <input type="hidden" id="id-" name="id-antena">
            <div class="form-group">
                <label for="antena">Nome:</label><br>
                <input type="text" class="form-control" id="antena" name="antena" placeholder="Digite o nome da antena" required><br>
            </div>            
            <div class="text-right">
                <button type="button" class="button button-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="button" id="btn-submit">Salvar</button>
            </div>
            </form>
        </div>
        
        <br>
        <br>
        <div class="table">
            <div class="row header">
                <div class="cell fixed">Antenas</div>
            </div>
            
            {% for antena in antenas %}       
            <div class="row">
                <div class="cell fixed">{{ antena.nome }}</div>
                <div class="cell fixed">
                    <button type="button" class="button button-small" data-toggle="modal" data-target="#antena-modal" data-id="{{ antena.id }}" data-nome="{{ antena.nome }}">Editar</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal -->
<div id="satelite-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="modal-title" id="sateliteModalLabel">Cadastro</span>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('dartcom_settings')}}" method="post" autocomplete="off"> 
            <input type="hidden" id="id-" name="id-satelite">
            <div class="form-check">
                <label class="form-check-label" for="antena">Antena</label><br>
                <select class="form-control" id="antena" name="antena">
                    {% for antena in antenas %} 
                        <option value="{{ antena.id }}">{{antena.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="satelite">Nome:</label><br>
                <input type="text" class="form-control" id="satelite" name="satelite" placeholder="Digite o nome" required><br>
            </div>
            <div class="form-group">
                <label for="sensor">Sensor:</label><br>
                <input type="text" class="form-control" id="sensor" name="sensor" placeholder="Digite o sensor" required><br>
            </div>
            <div class="form-group">
                <label for="data-type">Tipo de dado:</label><br>
                <input type="text" class="form-control" id="data-type" name="data-type" placeholder="Digite o tipo de dado" required><br>
            </div>
            <div class="form-group">
                <label for="satelite-path">Pasta destino:</label><br>
                <input type="text" class="form-control" id="satelite-path" name="satelite-path" placeholder="Digite a pasta destino" required><br>
            </div>
            <div class="form-group">
                <label for="template-name">Nome modelo:</label><br>
                <input type="text" class="form-control" id="template-name" name="template-name" placeholder="Digite o nome modelo" required><br>
            </div>
            <div class="form-group">
                <label for="command">Comando:</label><br>
                <input type="text" class="form-control" id="command" name="command" placeholder="Digite o comando" required><br>
            </div>
            <br>
            <div class="form-check" id="ativo-group">
                <input type="checkbox" class="form-check-input" id="is-compressed" name="is-compressed">
                <label class="form-check-label" for="is-compressed">Compactação</label><br>
            </div>
            <div class="form-check" id="ativo-group">
                <input type="checkbox" class="form-check-input" id="epsl0" name="epsl0">
                <label class="form-check-label" for="epsl0">EPSL0</label><br>
            </div>
            <br>
            <div class="form-group">
                <label for="epsl0-template">EPSL0 modelo:</label><br>
                <input type="text" class="form-control" id="epsl0-template" name="epsl0-template" placeholder="Digite o EPSL0 modelo" required><br>
            </div>
            <div class="form-group">
                <label for="template-path-origin-scp">Pasta SCP Modelo:</label><br>
                <input type="text" class="form-control" id="template-path-origin-scp" name="template-path-origin-scp" placeholder="Digite a pasta SCP modelo" required><br>
            </div>
            <div class="text-right">
                <button type="button" class="button button-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="button" id="btn-submit">Salvar</button>
            </div>
            </form>
        </div>    
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $('#user-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botão que acionou o modal
        var usuario = button.data('id'); // Extrai a informação dos atributos de dados
        if (usuario) {
            var nome = button.data('nome');
            var email = button.data('email');
            var empresa = button.data('empresa');
            var perfil = button.data('perfil');
            var ativo = button.data('ativo');
            var usuario = button.data('id');
            // EDITAR
            $("#userModalLabel").text("Editar");
            $("#ativo-group").show();
            $("#id-usuario").val(usuario)
            $("#nome").val(nome)
            $("#email").val(email)
            $("#empresa").val(empresa)
            $("#perfil").val(perfil)
            $("#ativo").prop('checked',ativo)
        } else {
            // CADASTRAR
            $("#userModalLabel").text("Cadastrar");
            $("#ativo-group").hide();
            $("#senha-group").show();
            $("#id-usuario").val('')
            $("#nome").val('')
            $("#email").val('')
            $("#empresa").val('')
            $("#perfil").val('visitante')
            $("#ativo").prop('checked',false)
        }
    });
</script>
{% endblock%}
